swagger: "2.0"

#######################################################################
#                         API Information                             #
#######################################################################

info:
  title: "ADPQ 2018"
  version: "0.0.1"
  description: "Swagger documentation for the HOTB Software submission for the Agile Development Prequalified Vendor Pool in 2018."
host: "adpq.hotbsoftware.com"
basePath: "/api/v1"
schemes:
- "http"
- "https"
tags:
  - name: "Articles"
  - name: "Users"


#######################################################################
#                             Headers                                 #
#######################################################################

securityDefinitions:
  api_key:
    in: "header"
    type: "apiKey"
    name: "apiKey"
  authorization:
    in: "header"
    name: "Authorization"
    type: "apiKey"
    description: "Blah blah blah..."

#######################################################################
#                             Routes                                  #
#######################################################################

paths:
  /articles:
    get:
      summary: Get all articles
      tags:
        - Articles
      parameters:
        - name: sort
          in: query
          description: Primary attribute to sort results by.
          required: false
          type: string
        - name: order
          in: query
          description: Primary order to sort results by.
          required: false
          type: integer
        - name: secondarySort
          in: query
          description: Secondary attribute to sort results by.
          required: false
          type: string
        - name: secondaryOrder
          in: query
          description: Secondary order to sort results by.
          required: false
          type: integer    
        - name: skip
          in: query
          description: Number of results to skip. Used with pagination.
          required: false
          type: integer
        - name: limit
          in: query
          description: Number of results to return. Used with pagination.
          required: false
          type: integer           
      responses:
        "200":
          description: A paged array of articles
        "400":
          description: Bad request
        "429":
          description: Too many requests
          
  /users:
    get:
      summary: Get all users
      tags:
        - Users
      parameters:
        - name: sort
          in: query
          description: Primary attribute to sort results by.
          required: false
          type: string
        - name: order
          in: query
          description: Primary order to sort results by.
          required: false
          type: integer
        - name: secondarySort
          in: query
          description: Secondary attribute to sort results by.
          required: false
          type: string
        - name: secondaryOrder
          in: query
          description: Secondary order to sort results by.
          required: false
          type: integer    
        - name: skip
          in: query
          description: Number of results to skip. Used with pagination.
          required: false
          type: integer
        - name: limit
          in: query
          description: Number of results to return. Used with pagination.
          required: false
          type: integer           
      responses:
        "200":
          description: A paged array of users
        "400":
          description: Bad request
        "429":
          description: Too many requests

#######################################################################
#                             Models                                  #
#######################################################################

definitions:
  Article:
    type: object
    properties:
      id:
        type: string
      createdAt:
        type: string
      createdBy:
        type: string
      agency:
        type: string
      role:
        type: integer
      status:
        type: integer
      title:
        type: string
      summary:
        type: string
      description:
        type: string
      tags:
        type: array
        items:
          type: string
      attachments:
        type: array
        items:
          type: object
          properties:
            role:
              type: integer
            value:
              type: string
      views:
        type: integer
      approvedBy:
        type: string
  ArticleEdit:
      type: object
      properties:
        id:
          type: string
        timestamp: 
          type: string
        editedBy: 
          type: string
        type: 
          type: integer
        previousValue:
          type: string
        updatedValue: 
          type: string
  User:
    type: object
    properties:
      id:
        type: string
      name:
        type: object
        properties:
          first: 
            type: string
          last:
            type: string
      createdAt:
        type: string
      updatedAt:
        type: string
      email:
        type: string
      phone:
        type: string
      role:
        type: integer
  UserNotification:
    type: object
    properties:
      id:
        type: string
      timestamp:
        type: string
      sender:
        type: string
      recipient:
        type: string
      title:
        type: string
      message:
        type: string
      attachments:
        type: array
        items:
          type: string
  Tag:
    type: object
    properties:
      id:
        type: string
      value:
        type: string
  Agency:
    type: object
    properties:
      id:
        type: string
      value:
        type: string
        