@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);*/
html, body {
	font-family:  "Roboto", serif!important;
}
p {
	font-family: roboto;
}
.adpq-header {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	/*    font-family: Roboto, serif;*/
	font-size: 18px;
	font-weight: normal;
	background-color: #e5e5e5;
	border-bottom: 1px solid #E9911B;
	position: fixed;
	height: 51px;
	width: 100%;
	top: 0px;
}
.adpq-headcontainer {
	font: bold 26px/normal 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	background-color: #046b99;
	height: 51px;
	max-width: 1100px;
	position: relative;
	vertical-align: middle;
	padding: 0px;
	margin: 0px auto;
	border-bottom: 1px solid #E9911B;
}
.adpq-container {
	/*	float: left;
	width: 100%;
	position: relative;
	margin: 0px auto;
	height: auto;
/*	background-image: url(../img/adpq-mainbg.gif) no-repeat;*/
		margin: 0px auto;
	height: auto;
	width: auto;
	max-width:1100px;
	background: url("../img/adpq-mainbg.gif") repeat-x!important;
}
.adpq-brand {
	background-color: #e5e5e5;
	background: url(../img/adpq-brand.png) no-repeat;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 50px;
	width: 195px;
	position: relative;
	left: 0px;
	top: 0px;
}
.adpq-default-btn {
	-webkit-box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	-moz-box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ebebeb));
	background: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ebebeb', GradientType=0);
	background-color: #ebebeb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #999999;
	display: block;
	cursor: pointer;
	color: #000;
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 10.5px 21px;
	text-decoration: none;
	text-shadow: #60676b 0 1px 0;
	min-width: 110px;
	margin: 0px auto;
}
button.adpq-default-btn {
	margin-left: 10px;
}
button.addbtn {
	margin-left: 10px;
}
.adpq-default-btn:hover {
	border: 1px solid #046A99;
	text-shadow: #60676b 0 1px 0;
	background: #095db6;
	background: -webkit-gradient(linear, left top, left bottom, from(#5aa8d8), to(#095db6));
	background: -webkit-linear-gradient(top, #5aa8d8, #095db6);
	background: -moz-linear-gradient(top, #5aa8d8, #095db6);
	background: -ms-linear-gradient(top, #5aa8d8, #095db6);
	background: -o-linear-gradient(top, #5aa8d8, #095db6);
	background-image: -ms-linear-gradient(top, #5aa8d8 0%, #095db6 100%);
	color: #fff;
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5aa8d8', endColorstr='#095db6', GradientType=0);
}
.adpq-default-btn:active {
	text-shadow: #60676b 0 1px 0;
	border: 1px solid #0a3c59;
	background: #5aa8d8;
	background: -webkit-gradient(linear, left top, left bottom, from(#095db6), to(#095db6));
	background: -webkit-linear-gradient(top, #095db6, #5aa8d8);
	background: -moz-linear-gradient(top, #095db6, #5aa8d8);
	background: -ms-linear-gradient(top, #095db6, #5aa8d8);
	background: -o-linear-gradient(top, #095db6, #5aa8d8);
	background-image: -ms-linear-gradient(top, #095db6 0%, #5aa8d8 100%);
	color: #fff;
	position: relative;
	top: 1px;
}
.arcbtn {
	float: right;
}
.adpq-blurb {
	background-color: rgba(4,107,153,0.15);
	display: block;
	height: 190px;
	width: 600px;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	border: 1px solid #046B99;
	box-sizing: content-box;
	margin: auto;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
}
.adpq-blurb p {
	color: #000;
	font-family: "roboto condensed", serif;
	font-size: 16px;
	line-height:18px;
}
.adpq-loginwrap, .adpq-adminwrap {
	margin: 0px;
	float: right;
	height: 50px;
	position: relative;
	top: 0px;
	right: 0px;
}
.adpq-loginwrap {
	width: 380px;
}
.adpq-adminwrap {
	width: 154px;
}
.adpq-log-arrow {
	background-image: url(../img/arrow-circle.png);
	float: right;
	height: 30px;
	width: 30px;
	margin: 10px 15px;
	position: relative;
}
.adpq-log-input {
	float: left;
	height: 50px;
	width: 313px;
	position: relative;
	left: 10px;
}
.adpq-pass, .adpq-user {
	width: 150px;
	padding: 10px 10px;
	border: 1px solid #FDB81E;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal 16px/normal "Roboto Condensed", Helvetica, Arial, sans-serif;
	color: rgba(0,0,0,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,0.75);
	height: 32px;
	margin: 9px 0px;
	color:#000;
}
.adpq-pass {
	margin-left: 13px
}
.adpq-user {
;
}
.adpq-plus-btn, .adpq-settings-btn, .adpq-profile-btn {
	width: 50px;
	height: 50px;
	position: relative;
	float: left;
	border-left: 1px solid #FDB81E;
}
.adpq-plus-btn {
	background: url("../img/plus-n.png") no-repeat;
}
.adpq-settings-btn {
	background: url("../img/settings-n.png") no-repeat;
}
.adpq-profile-btn {
	background: url("../img/profile-n.png") no-repeat;
}
.adpq-blank-btn {
	background: url("../img/blank.png") no-repeat;
	width: 50px;
	height: 50px;
	position: relative;
	float: left;
	border-left: none;
}
.adpq-plus-btn:hover {
	background: url("../img/plus-h.png") no-repeat;
}
.adpq-settings-btn:hover {
	background: url("../img/settings-h.png") no-repeat;
}
.adpq-profile-btn:hover {
	background: url("../img/profile-h.png") no-repeat;
}
.kpi-row {
	display: block;
	padding: 0px;
	float: left;
	height: 192px;
	width: 1068px;
	margin-right: 20px;
	margin-left: 20px;
	position: relative;
}
.kpi-content {
	float: left;
	height: 174px;
	width: 1068px;
	position: relative;
}
.kpi-publish, .kpi-review, .kpi-declined, .kpi-views, .kpi-shares, .kpi-users {
	background-color: #A8DDFF;
	display: block;
	float: left;
	height: 150px;
	width: 174px;
	margin-right: 2px;
	margin-left: 2px;
	border: 1px solid #046b99;
	position: relative;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
}
.kpi-publish-head, .kpi-review-head, .kpi-declined-head, .kpi-views-head, .kpi-shares-head, .kpi-users-head {
	background-color: #A8DDFF;
	float: left;
	height: 28px;
	width: 172px;
	border-bottom: 1px solid #046b99;
	position: relative;
	top: 1px;
	font-family: "roboto condensed", serif;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	padding: 7px 0px;
}
.kpi-publish-bottom, .kpi-review-bottom, .kpi-declined-bottom, .kpi-views-bottom, .kpi-shares-bottom, .kpi-users-bottom {
	background-color: #DAE9F0;
	float: left;
	height: 119px;
	width: 172px;
	position: relative;
	top: 1px;
	font-family: "roboto", serif;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	display: table;
}
.kpi-publish-bottom span, .kpi-review-bottom span, .kpi-declined-bottom span, .kpi-views-bottom span, .kpi-shares-bottom span, .kpi-users-bottom span {
	display: table-cell;
	vertical-align: middle;
}
.kpi-header, .trending-header, .mypublished-header, .workflow-header {
	display: block;
	float: left;
	height: 41px;
	width: 1068px;
	position: relative;
}
.workflow-head { font-family: "roboto", serif; font-size: 14px; font-weight: normal; text-align: right!important; padding:7px 30px 0 0;  }
.trending-content, .mypublished-content, .workflow-content {
	display: block;
	float: left;
	height: 296px;
	width: 1068px;
	position: relative;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
}
.trending-content {
	background-color: #E8F4DB;
	border: 1px solid #64b80b;
}
.mypublished-content {
	background-color: #FCEFDD;
	border: 1px solid #E9911B;
}
.workflow-content {
	background-color: #FDDDE0;
	border: 1px solid #F31832;
}
.trending-bottom, .mypublished-bottom, .workflow-bottom {
	display: block;
	float: left;
	height: 266px;
	width: 1046px;
	position: relative;
	top: 0px;
	margin-left: 10px;
}
.trending-bottom {
	background-color: #E8F4DB;
}
.mypublished-bottom {
	background-color: #FCEFDD;
}
.workflow-bottom {
	background-color: #FDDDE0;
}
/*.trending-content { background-color: #E8F4DB; border: 1px solid #64b80b; }
.mypublished-content { background-color: #FCEFDD; border: 1px solid #E9911B; }
.workflow-content { background-color: #FDDDE0; border: 1px solid #F31832; }*/
.trending-head, .mypublished-head, .workflow-head {
	float: left;
	height: 28px;
	width: 1066px;
	position: relative;
	top: 0px;
	font-family: "roboto condensed", serif;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
/*	padding: 7px 0px;*/
}
.trending-head {
	background-color: #C9E6AA;
	border-bottom: 1px solid #64B80B;
}
.mypublished-head {
	background-color: #F7D9AF;
	border-bottom: 1px solid #E9911B;
}
.workflow-head {
	background-color: #FBAEB7;
	border-bottom: 1px solid #F31832;
}
.trending-row, .mypublished-row, .workflow-row {
	display: block;
	float: left;
	height: 340px;
	width: 1068px;
	position: relative;
	margin: 0px 20px;
}
div.kpi-lastupdate {
	display: block;
	float: left;
	height: 40px;
	width: 150px;
	position: relative;
	color: #000;
	font-family: "roboto", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	left: 5px;
	top: 2px;
	padding: 0 5px 0 0;/*	font: nornal uppercase normal 12/18 "roboto",sans-serif;*/
	
}
.section-title {
	font-family: "roboto", serif;
	font-size: 24px;
	font-style: normal;
	line-height: 41px;
	font-weight: normal;
	display: block;
	float: left;
	height: 41px;
	width: 235px;
	position: relative;
}
.section-title-kpi {
	font-family: "roboto", serif;
	font-size: 24px;
	font-style: normal;
	line-height: 41px;
	font-weight: normal;
	display: block;
	float: left;
	height: 41px;
	position: relative;
}
.trending-row-one, .trending-row-two, .trending-row-three {
	display: block;
	float: left;
	height: 88px;
	width: 1046px;
	position: relative;
	top: 0px;
}
.trending-left-column {
	display: block;
	float: left;
	height: 88px;
	width: 796px;
	position: relative;
	left: 0px;
	top: 0px;
}
.trending-right-column {
	display: block;
	float: left;
	height: 88px;
	width: 250px;
	position: relative;
	left: 0px;
	top: 0px;
	padding-left: 15px;
}
.viewmore-link {
	display: block;
	float: right;
	position: absolute;
	font-family: "roboto", serif;
	font-size: 14px;
	font-style: normal;
	line-height: 18px;
	font-weight: normal;
	top: 70px;
	left: 150px;
}
a.viewmore-link:focus {
}
.cs-button {
	border: 1px solid #999999;
	background: #ebebeb;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ebebeb));
	background: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
	padding: 10.5px 21px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	-moz-box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	text-shadow: #60676b 0 1px 0;
	color: #000000;
	font-size: 14px;
	font-family: "roboto", serif;
	text-decoration: none;
	vertical-align: middle;
	position:relative;
	top:24px;
	margin: 0 60px;
}
.cs-button:hover {
	border: 1px solid #046a99;
	text-shadow: #60676b 0 1px 0;
	background: #095db6;
	background: -webkit-gradient(linear, left top, left bottom, from(#5aa8d8), to(#095db6));
	background: -webkit-linear-gradient(top, #5aa8d8, #095db6);
	background: -moz-linear-gradient(top, #5aa8d8, #095db6);
	background: -ms-linear-gradient(top, #5aa8d8, #095db6);
	background: -o-linear-gradient(top, #5aa8d8, #095db6);
	background-image: -ms-linear-gradient(top, #5aa8d8 0%, #095db6 100%);
	color: #fff;
}
.cs-button:active {
	text-shadow: #60676b 0 1px 0;
	border: 1px solid #0a3c59;
	background: #5aa8d8;
	background: -webkit-gradient(linear, left top, left bottom, from(#095db6), to(#095db6));
	background: -webkit-linear-gradient(top, #095db6, #5aa8d8);
	background: -moz-linear-gradient(top, #095db6, #5aa8d8);
	background: -ms-linear-gradient(top, #095db6, #5aa8d8);
	background: -o-linear-gradient(top, #095db6, #5aa8d8);
	background-image: -ms-linear-gradient(top, #095db6 0%, #5aa8d8 100%);
	color: #fff;
}
.tools-left-wrap {
	display: block;
	float: left;
	height: 27px;
	width: 235px;
	position: relative;
	left: 0px;
	top: 0px;
	text-align: left;
	padding: 7px 0 0 8px;
}
.tools-right-wrap {
	display: block;
	float: right;
	height: 27px;
	width: 250px;
	position: relative;
	top: 0px;
	right: 0px;

}
.mypublish-updated, .mypublish-views, .mypublish-shares {
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 16px;
	position: relative;
	top:6px;
}
.mypublish-updated, .mypublish-views, .mypublish-shares { width: 83px; }
.mypublish-updated { background-image: url(../../ADPQ%20-%204/img/updated-n.png); }
.mypublish-views { background-image: url(../../ADPQ%20-%204/img/views-n.png); }
.mypublish-shares { background-image: url(../../ADPQ%20-%204/img/shares-n.png); }
.landing-view-btn {
	display: inline-block;
	width: 600px;
	margin: 0px auto;

}
/* Landing Page Search Field Starts */
.sbx-google {
  display: inline-block;
  position: relative;
  width: 600px;
  height: 56px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 18px;
}

.sbx-google__wrapper {
  width: 100%;
  height: 100%;
}

.sbx-google__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #046B99;
  background: #A8DDFF;
  padding: 0;
  padding-right: 102px;
  padding-left: 13px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sbx-google__input::-webkit-search-decoration, .sbx-google__input::-webkit-search-cancel-button, .sbx-google__input::-webkit-search-results-button, .sbx-google__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-google__input:hover {
  box-shadow: inset 0 0 0 1px #034867;
}

.sbx-google__input:focus, .sbx-google__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #095CB6;
  background: #A8DDFF;
}

.sbx-google__input::-webkit-input-placeholder {
  color: #CCCCCC;
}

.sbx-google__input::-moz-placeholder {
  color: #CCCCCC;
}

.sbx-google__input:-ms-input-placeholder {
  color: #CCCCCC;
}

.sbx-google__input::placeholder {
  color: #CCCCCC;
}

.sbx-google__submit {
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 3px 3px 0;
  background-color: rgba(168, 221, 255, 0.5);
  padding: 0;
  width: 66px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sbx-google__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.sbx-google__submit:hover, .sbx-google__submit:active {
  cursor: pointer;
}

.sbx-google__submit:focus {
  outline: 0;
}

.sbx-google__submit svg {
  width: 36px;
  height: 36px;
  vertical-align: middle;
  fill: #046B99;
}

.sbx-google__reset {
  display: none;
  position: absolute;
  top: 14.5px;
  right: 75px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.sbx-google__reset:focus {
  outline: 0;
}

.sbx-google__reset svg {
  display: block;
  margin: 4px;
  width: 19px;
  height: 19px;
}

.sbx-google__input:valid ~ .sbx-google__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
	    }
}
.left-row-one {
	display: inline-block;
	float: left;
	height: 34px;
	width: 796px;
	position: relative;
	left: 0px;
	top: 5px;
}
.left-row-two, .left-row-three, .left-row-four {
	display: inline-block;
	float: left;
	height: 18px;
	width: 796px;
	position: relative;
	left: 0px;
	top: 0px;
}
.left-title, .left-publish-date {
	display: inline-block;
	float: left;

	width: 576px;
	position: relative;
	left: 0px;
	top: 0px;
	font-family: "roboto", serif;
	font-size: 18px;
	color: #000;
}
.left-agency, .left-shortdesc, .left-author {
	display: inline-block;
	float: left;
	height: 18px;
	width: 576px;
	position: relative;
	left: 0px;
	top: 0px;
	font-family: "roboto", serif;
	font-size: 18px;
	color: #000;
}
.author { font-family: "roboto", serif; font-size: 14px; color: #000; font-weight: bold;}
.author span, .pub-date { font-weight: normal!important; }
.left-title { font-size: 18px; 	height: 34px; color:#000; padding-top: 3px;}
.left-publish-date { font-size: 14px; 	height: 18px; color:#000;}
.left-agency, .left-author { font-size: 14px; font-weight: bold; color:#000;}
.left-shortdesc { font-size: 14px; color:#669; overflow: hidden; white-space: nowrap!important; width: 790px!important; }
.left-column-tools {
	display: inline-block;
	float: right;
	height: 34px;
	width: 220px;
	position: relative;
	top: 0px;
	right: 0px;
}
.left-most, .left-most-pubdate {
	display: block;
	float: left;
	height: 34px;
	width: 122px;
	position: relative;
	font-family: "roboto", serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: right;
	padding-top:4px;
}
.left-most-pubdate { width: 220px}
.left-tags, .left-views, .left-shares {
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 34px;
	width: 30px;
	position: relative;
	top: 3px;
	left: 3px;
}
.left-tags { background-image: url(../img/tags-n.png); }
.left-views { background-image: url(../img/views-n.png); }
.left-shares { background-image: url(../img/shares-n.png); }
.left-total {
	display: block;
	float: left;
	height: 34px;
	width: 65px;
	position: relative;
	left: 5px;
	top: 0px;
	font-family: "roboto", serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: left;
	padding-top:4px;
}
.publish-date {
	background-color: #FFE500;
	display: block;
	float: right;
	height: 18px;
	width: 220px;
	padding-right: 40px;
	position: relative;
	font-family: "roboto", serif;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.publish-date span { font-weight: normal!important; }
.tools-total-update, .tools-total-views, .tools-total-shares {
	display: block;
	float: left;
	height: 34px;
	width: 70px;
	padding-top: 5px;
	position: relative;
	font-family: "roboto", serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: center;
}
.article-status {
	text-align: center;
	display: block;
	float: right;
	height: 34px;
	width: 90px;
	position: relative;
	font-family: "roboto", serif;
	font-size: 12px;
	color: #000;
	left:10px;
	font-weight:700;
	padding-top: 7px;
}
/* Search form Begins */
.search_bar { max-width: 630px; height: 55px; }
.search-bar-filter { max-width: 515px; height: 40px; top:10px; }
.search_bar, .search-bar-filter {
  background: #fff;
  border: #b7b7b7 solid 1px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto 60px;	
}
.search_bar input[type=text] { height:53px; }
.search-bar-filter input[type=text] { height:38px; }
.search_bar input[type=text], .search-bar-filter input[type=text] {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  font-size: 18px;
  width: 90%;
  padding: .5em;
  margin: 0;
  overflow: hidden;
	vertical-align: middle;
	
	background-color: #e6eef8;
}
.search_bar input[type=text]:focus, .search-bar-filter input[type=text]:focus {
  outline: none;
}
.search_bar button[type=submit], .search-bar-filter button[type=submit] {
  background: -webkit-gradient(linear, left top, left bottom, from(#237cd4), to(#1e6ab5));
  background: linear-gradient(#237cd4, #1e6ab5);
  color: rgba(255, 255, 255, 0);
  border: 1px solid #1C62A8;
  width: 10%;
  min-width: 56px;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 0 3px 3px 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.search_bar button[type=submit]:after, .search-bar-filter button[type=submit]:after {
  content: '';
  position: absolute;
  top: 18%;
  right: 0;
  bottom: 22%;
  left: 4%;
  background: url("../img/search-mag.png") no-repeat center center;
  background-size: contain;
}
.search_bar button[type=submit]:hover, .search_bar button[type=submit]:focus, .search-bar-filter button[type=submit]:hover, .search-bar-filter button[type=submit]:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(#3388dd), to(#2174c7));
  background: linear-gradient(#3388dd, #2174c7);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
/* Filter panel begins */
.filter-main-panel {
	background-color: #9ECAF9;
	display: block;
	float: left;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #046B99;
	position: relative;
}
/* Full Pages */
.recent-published-row {
	display: block;
	float: left;
	height: 100%;
	width: 1068px;
	position: relative;
	margin: 0px 20px;
}
.artcles-list-view {
	display: block;
	float: left;
	height: auto;
	width: 100%;
	position: relative;
	max-width:1100px;
	padding: 7px 0px 0px 15px;
	
	
}
.articles-header {
	float: left;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #000000;
	position: relative;
	top: 0px;
}
.articles-right-column {
	display: block;
	float: left;
	height: auto;
	width: 250px;
	position: relative;
	margin-left:25px;
}
.articles-stats {
	display: block;
	float: left;
	height: 99px;
	width: 250px;
	position: relative;
}
.articles-left-line {
	background-color: #cccccc;
	display: block;
	float: left;
	height: 1px;
	width: 796px;
	margin: 5px 0px;
	position: relative;
}
.articles-right-line {
	background-color: #cccccc;
	display: block;
	float: left;
	height: 1px;
	width: 300px;
	margin: 5px 0px;
	position: relative;
	top:54px;
	right:25px;
}
.page-title {
	font-family:  "Roboto", serif;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	display: block;
	float: left;
	height: 35px;
	width: 1066px;
	position: relative;
	padding: 10px 0px 0px 15px;
}
.search-filter-row {
	font-family: "Roboto", serif;
	font-size: 14px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	display: block;
	float: left;
	height: 65px;
	width: 1066px;
	position: relative;
}
.show-pages {
	font-family: "Roboto", serif;
	font-size: 14px;
	font-weight: normal;
	display: block;
	float: left;
	height: 65px;
	width: 300px;
	position: relative;
}
.listview-pages { font-family: "Roboto", serif; font-size: 14px; font-weight: normal; display: block; position:relative; float:right; bottom: 25px; right:70px; }
.listview-show { font-family: "Roboto", serif; font-size: 14px; font-weight: normal; display: block; position:relative; top:25px; left:75px; } 
.filter-search-box {
	font-family: "Roboto", serif;
	font-size: 14px;
	font-weight: normal;
	color: #ccc;
	display: block;
	float: left;
	height: 40px;
	width: 515px;
	position: relative;
}
.show-filter-wrap {
	font-family: "Roboto", serif;
	font-size: 14px;
	color: #FFf;
	text-decoration: none;
	display: block;
	float: left;
	height: 65px;
	width: 140px;
	bottom: 15px;
	position: relative;
}
/* Custom DropDown Begins */
.wrapper-dropdown-2 {
    /* Size and position */
    position: relative; /* Enable absolute positionning for children and pseudo elements */
    width: 60px;
    margin: 0 auto;
    padding: 10px 15px;

    /* Styles */
    background: #fff;
    border-left: 5px solid grey;
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown-2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}

.wrapper-dropdown-2 .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: -5px;
    right: 0px;

    /* Styles */
    background: white;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-2 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    border-left: 5px solid;
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-2 .dropdown li:nth-child(1) a { 
    border-left-color: #00ACED;
}

.wrapper-dropdown-2 .dropdown li:nth-child(2) a {
    border-left-color: #4183C4;
}

.wrapper-dropdown-2 .dropdown li:nth-child(3) a {
    border-left-color: #3B5998;
}

.wrapper-dropdown-2 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-2 .dropdown li:hover a {
    color: grey;
}

/* Active state */

.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-2.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown {
    display: block;
}

.list-view-title {
	font-family: "Roboto", serif;
	font-size: 18px;
	font-weight: normal;
	display: block;
	float: left;
	height: 40px;
	width: 225px;
	padding-top:7px;
	position: relative;
}
.create-article-wrap {
	display: block;
	float: left;
	height: 100%;
	width: 600px;
	position: relative;
	top: 45px;
}
