@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);*/
html, body { font-family:  "Roboto", serif!important; }
p { font-family: roboto; }
footer { height: 175px; }
a { color:#000; text-decoration: underline;}
a:hover, a:focus { color:#046b99; text-decoration: underline;}
/* required for the long description field on create and edit article pages*/
.ql-editor strong {font-weight:bold;}
.ql-editor em {font-style: italic;}
.ql-editor u {text-decoration: underline;}
.ql-editor s {text-decoration: line-through;}
strong { font-weight:bold;}
em { font-style:italic;}
u {text-decoration: underline;}
s { text-decoration: line-through;}
ul { list-style-type: circle;}
ol {list-style-type: decimal;}
/*required for the long description field on create and edit article pages */
 section {
	max-width:70%;
	font-family: "roboto", serif;
	font-size: 14px;
	 line-height: 18px;
	margin: 15px auto;
}
.terms {
    font-family: "roboto", serif;
    font-size: 12px;
    margin: 5px auto;
    height: auto;
	position:relative;
	width:80%;
    text-align: center;	
}
.terms p { font-size: 14px; font-family: "roboto", serif;/* margin-bottom:10px; */width:75%; margin: 20px auto!important; text-align: left; line-height: 1.5; }
a.terms {
    margin: 50px auto;
    height: auto;
}
.terms-headcontainer {
    font-family: 26px/32px "Roboto",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #046b99;
    height: 50px;
    max-width: 1100px;
    position: relative;
    vertical-align: middle;
    padding: 0px;
    margin: 0px auto 10px auto;
    border-bottom: 1px solid #E9911B;
    top: 0px;
}

header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}
.adpq-header {
	font-family:"Roboto", serif;
	font-size: 18px;
	font-weight: normal;
	background-color: #e5e5e5;
	border-bottom: 1px solid #E9911B;
	position: fixed;
	height: 51px;
	width: 100%;
	top: 0px;
}
.adpq-headcontainer {
  font-family: 26px/32px "Roboto",Helvetica,Arial,sans-serif;
    font-weight: bold;
	color: #FFFFFF;
	background-color: #046b99;
	height: 51px;
	max-width: 1100px;
	position: relative;
	vertical-align: middle;
	padding: 0px;
	margin: 0px auto 10px auto;
	border-bottom: 1px solid #E9911B;
	    top: 0px;
}
.adpq-container {
	margin: 0px auto;
	height: auto;
	width: auto;
	max-width:1100px;
	background: url("../img/adpq-mainbg.gif") repeat-x!important;
}
.adpq-brand {
	background: url(../img/adpq-brand.png) no-repeat;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 51px;
	width: 150px;	
	position: relative;
	left: 0px;
	top: 0px;
}
.dash-view { /*font-size: 18px; font-family: "roboto", serif; color:#fff; font-weight: bold; text-align: center; width:200px; height:50px;float: none; margin: 0 auto;*/
font-size: 18px;
font-family: "roboto", serif;
color: #fff;
font-weight: bold;
text-align: center;
width: 200px;
float: none;
margin: 0 auto;
top: 20px;
position: relative;
}
.dash-menu-admin { position:relative!important; float: right!important;/* bottom:18px; */}
.adpq-default-btn {
	-webkit-box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	-moz-box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ebebeb));
	background: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ebebeb', GradientType=0);
	background-color: #ebebeb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #999999;
	display: block;
	cursor: pointer;
	color: #000;
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 10.5px 21px;
	text-decoration: none;
	text-shadow: #60676b 0 1px 0;
	min-width: 110px;
	margin: 0px auto;
}
button.adpq-default-btn { margin-left: 10px; }
.adpq-default-btn:hover {
	border: 1px solid #046A99;
	text-shadow: #60676b 0 1px 0;
	background: #095db6;
	background: -webkit-gradient(linear, left top, left bottom, from(#5aa8d8), to(#095db6));
	background: -webkit-linear-gradient(top, #5aa8d8, #095db6);
	background: -moz-linear-gradient(top, #5aa8d8, #095db6);
	background: -ms-linear-gradient(top, #5aa8d8, #095db6);
	background: -o-linear-gradient(top, #5aa8d8, #095db6);
	background-image: -ms-linear-gradient(top, #5aa8d8 0%, #095db6 100%);
	color: #fff;
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5aa8d8', endColorstr='#095db6', GradientType=0);
}
.adpq-default-btn:active {
	text-shadow: #60676b 0 1px 0;
	border: 1px solid #0a3c59;
	background: #5aa8d8;
	background: -webkit-gradient(linear, left top, left bottom, from(#095db6), to(#095db6));
	background: -webkit-linear-gradient(top, #095db6, #5aa8d8);
	background: -moz-linear-gradient(top, #095db6, #5aa8d8);
	background: -ms-linear-gradient(top, #095db6, #5aa8d8);
	background: -o-linear-gradient(top, #095db6, #5aa8d8);
	background-image: -ms-linear-gradient(top, #095db6 0%, #5aa8d8 100%);
	color: #fff;
	position: relative;
	top: 1px;
}
.adpq-blurb {
	background-color: rgba(4,107,153,0.15);
	display: block;
	height:260px;
	width: 600px;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	border: 1px solid #046B99;
	box-sizing: content-box;
	margin: auto;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
}
.adpq-blurb h2 { font-family: "Roboto", serif; font-weight: bold; margin: 0 0 20px 0; font-size:28px; }
.adpq-blurb p { color: #000; font-family: "roboto condensed", serif; font-size: 18px; line-height:22px; }
.adpq-loginwrap, .adpq-adminwrap {
	margin: 0px;
	float: right;
	height: 51px;
	position: relative;
	top: 0px;
	right: 0px;
}
.adpq-loginwrap { width: 380px; }
.adpq-adminwrap { width: 254px; }
.adpq-log-arrow {
	background-image: url(../img/arrow-circle-n.png);
	float: right;
	height: 30px;
	width: 30px;
	margin: 10px 15px;
	position: relative;
	border: none;
	background-color: transparent;
}
.adpq-log-arrow:hover, .adpq-log-arrow:focus  {
	background-image: url(../img/arrow-circle-h.png);
}
.adpq-log-input {
	float: left;
	height: 50px;
	width: 320px;
	position: relative;
	left: 10px;
}
.adpq-pass, .adpq-user {
	width: 150px;
	padding: 5px 10px;
	border: 1px solid #FDB81E;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal 16px/normal "Roboto Condensed", Helvetica, Arial, sans-serif;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,0.75);
	height: 32px;
	margin: 9px 0px;
	color:#000;
}
.adpq-pass {
	margin-left: 13px
}
.adpq-user {; }
.adpq-plus-btn, .adpq-settings-btn, .adpq-profile-btn, .adpq-dashboard-btn, .adpq-listview-btn {
	width: 50px!important;
	height: 50px!important;
	position: relative!important;
	float: right!important;
	border-left: 1px solid #FDB81E!important;
	clear:both;
}
.adpq-plus-btn {
	background: url("../img/plus-n.png") no-repeat;
}
.adpq-settings-btn {
	background: url("../img/settings-n.png") no-repeat;
}
.adpq-profile-btn {
	background: url("../img/profile-n.png") no-repeat;
}
.adpq-dashboard-btn { background: url("../img/dash-n.png") no-repeat;}
.adpq-listview-btn { background: url("../img/articles-n.png") no-repeat;}
.adpq-home-btn { background: url("../img/home-n.png") no-repeat;}
.adpq-blank-btn {
	background: url("../img/blank.png") no-repeat;
	width: 50px;
	height: 50px;
	position: relative;
	float: right;
	border-left: none;
}
.adpq-plus-btn:hover {
	background: url("../img/plus-h.png") no-repeat;
}
.adpq-settings-btn:hover {
	background: url("../img/settings-h.png") no-repeat;
}
.adpq-profile-btn:hover {
	background: url("../img/profile-h.png") no-repeat;
}
.adpq-dashboard-btn:hover { background: url("../img/dash-h.png") no-repeat;}
.adpq-listview-btn:hover { background: url("../img/articles-h.png") no-repeat;}
.adpq-home-btn:hover { background: url("../img/home-h.png") no-repeat;}
.main-wrapper-lrg { background: url("../img/adpq-headerbg-lrg.gif") repeat-x; height: 151px; }
.main-wrapper-sm { background: url("../img/adpq-headerbg-sm.jpg") repeat-x; height: 51px;  }
.create-plus-btn {
	width: 16px!important;
	height: 16px!important;
	position: relative!important;
	float: right!important;
	background: url("../img/create-plus-n.png") no-repeat;
	right: 125px;
	bottom: 2px;	
/*	clear:both;*/
}
.create-plus-btn:hover, .create-plus-btn:focus {
	background: url("../img/create-plus-h.png") no-repeat;	
/*	clear:both;*/
}
/* Navigation Begins */
*{margin:0;padding:0;text-decoration:none}
.under-menu { position:relative; top: 50px; }
body{}
/*Header Marckup*/
header{position:relative;width:100%;border-bottom:1px solid #e0e0e0;}
.logo{position:relative;z-index:123;padding:10px;font:18px verdana;color:#6DDB07;float:left;width:15%}
.logo a{color:#046b99;}
nav{position:relative;width:1100px;margin:0 auto;}
.cssmenu,.cssmenu ul,.cssmenu ul li,.cssmenu ul li a,.cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; float:right; z-index:9999;  }
.cssmenu:after,.cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.cssmenu #head-mobile{display:none}
.cssmenu{font-family:"roboto", sans-serif;}
.cssmenu > ul{margin:0;}
.cssmenu > ul > li{float:left}
.cssmenu > ul > li > a{text-transform: uppercase;padding:17px;font-size:12px;letter-spacing:1px;text-decoration:none;color:#000;font-weight:700;border-left: 1px solid #E9911B; height:51px;}
.cssmenu > ul > li:hover > a,.cssmenu ul li.active a{color:#fafafa}
.cssmenu > ul > li:hover,.cssmenu ul li.active:hover,.cssmenu ul li.active,.cssmenu ul li.has-sub.active:hover{background:#046b99!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
.cssmenu ul li.active a{border:none;}
.cssmenu > ul > li.has-sub > a{padding-right:30px}
.cssmenu > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
.cssmenu > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
.cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
.cssmenu ul ul{position:absolute;left:-9999px}
.cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;color:#000; border: 1px solid #2981A8;background:#046b99;transition:all .25s ease}
.cssmenu ul ul li:hover{}
.cssmenu li:hover > ul{left:auto}
.cssmenu li:hover > ul > li{height:35px}
.cssmenu ul ul ul{margin-left:100%;top:0}
.cssmenu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width:170px;font-size:12px;text-decoration:none;color:#fff;font-weight:400;}
.cssmenu ul ul li:last-child > a,.cssmenu ul ul li.last-item > a{border-bottom:0}
.cssmenu ul ul li:hover > a,.cssmenu ul ul li a:hover{color:#fafafa}
.cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
.cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
.cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
.cssmenu ul ul li.has-sub:hover,.cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#404040;}
.cssmenu ul ul ul li.active a{border-left:1px solid #333}
.cssmenu > ul > li.has-sub > ul > li.active > a,.cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

@media screen and (max-width:1000px){
.logo{position:absolute;top:0;left: 0;width:100%;height:46px;text-align:center;padding:10px 0 0 0 ;float:none}
.logo2{display:none}
nav{width:100%;}
.cssmenu{width:100%}
.cssmenu ul{width:100%;display:none}
.cssmenu ul li{width:100%;border-top:1px solid #444}
.cssmenu ul li:hover{background:#363636;}
.cssmenu ul ul li,.cssmenu li:hover > ul > li{height:auto}
.cssmenu ul li a,.cssmenu ul ul li a{width:100%;border-bottom:0}
.cssmenu > ul > li{float:none}
.cssmenu ul ul li a{padding-left:25px}
.cssmenu ul ul li{background:#333!important;}
.cssmenu ul ul li:hover{background:#363636!important}
.cssmenu ul ul ul li a{padding-left:35px}
.cssmenu ul ul li a{color:#ddd;background:none}
.cssmenu ul ul li:hover > a,.cssmenu ul ul li.active > a{color:#fafafa}
.cssmenu ul ul,.cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
.cssmenu > ul > li.has-sub > a:after,.cssmenu > ul > li.has-sub > a:before,.cssmenu ul ul > li.has-sub > a:after,.cssmenu ul ul > li.has-sub > a:before{display:none}
.cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
.button{width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;z-index: 12399994;}
.button:after{position:absolute;top:22px;right:20px;display:block;height:4px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fafafa;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fafafa;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #444;height:46px;width:46px;cursor:pointer}
.cssmenu .submenu-button.submenu-opened{background:#262626}
.cssmenu ul ul .submenu-button{height:34px;width:34px}
.cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#ddd;content:''}
.cssmenu ul ul .submenu-button:after{top:15px;right:13px}
.cssmenu .submenu-button.submenu-opened:after{background:#fafafa}
.cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#ddd;content:''}
.cssmenu ul ul .submenu-button:before{top:12px;right:16px}
.cssmenu .submenu-button.submenu-opened:before{display:none}
.cssmenu ul ul ul li.active a{border-left:none}
.cssmenu > ul > li.has-sub > ul > li.active > a,.cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
}
/* Navigation Ends */
.kpi-row {
	display: block;
	padding: 0px;
/*	float: left;*/
	height: 192px;
	width: 1068px;
	margin:0px auto;
	position: relative;
}
.kpi-content {
	float: left;
	height: 174px;
	width: 1068px;
	position: relative;
}
.kpi-publish, .kpi-review, .kpi-declined, .kpi-views, .kpi-shares, .kpi-users {
	background-color: #A8DDFF;
	display: block;
	float: left;
	height: 150px;
	width: 174px;
	margin-right: 2px;
	margin-left: 2px;
	border: 1px solid #046b99;
	position: relative;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
	z-index: -1;
}
.kpi-publish-head, .kpi-review-head, .kpi-declined-head, .kpi-views-head, .kpi-shares-head, .kpi-users-head {
	background-color: #A8DDFF;
	float: left;
	height: 28px;
	width: 172px;
	border-bottom: 1px solid #046b99;
	position: relative;
	top: 1px;
	font-family: "roboto condensed", serif;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	padding: 7px 0px;
}
.kpi-publish-bottom, .kpi-review-bottom, .kpi-declined-bottom, .kpi-views-bottom, .kpi-shares-bottom, .kpi-users-bottom {
	background-color: #DAE9F0;
	float: left;
	height: 119px;
	width: 172px;
	position: relative;
	top: 1px;
	font-family: "roboto", serif;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	display: table;
}

.kpi-pub-total { height: 95px; position:relative; font-size: 24px; width: 172px; padding-top: 47px; }

/*.kpi-publish-bottom span, */
.kpi-review-bottom span, .kpi-declined-bottom span, .kpi-views-bottom span, .kpi-shares-bottom span, .kpi-users-bottom span {
	display: table-cell;
	vertical-align: middle;
}

.kpi-header, .trending-header, .mypublish-header, .workflow-header {
	display: block;
	float: left;
	height: 41px;
	width: 1068px;
	position: relative;
}
.workflow-head { font-family: "roboto", serif; font-size: 14px; font-weight: normal; text-align: right!important; padding:7px 30px 0 0;  }
.trending-content, .mypublished-content, .workflow-content {
	display: block;
	float: left;
/*	height: 325px;expand*/
	width: 1068px;
	position: relative;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
}
.trending-content {
	background-color: #E8F4DB;
	border: 1px solid #64b80b;
}
.mypublished-content {
	background-color: #FCEFDD;
	border: 1px solid #E9911B;
}
.workflow-content {
	background-color: #FDDDE0;
	border: 1px solid #F31832;
}
.trending-content-listview, .mypublished-content-listview {
	display: block;
	float: left;
	height: auto;
	width: 900px;
	max-width: 900px;
	position: relative;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
	padding: 5px;
	font-size: 14px;
	font-family: "roboto", serif;
}
.workflow-content-listview {
	display: block;
/*	float: left;*/
	height: auto;
	width: 900px;
	max-width: 900px;
	position: relative;
	padding: 5px;
	font-size: 14px;
	font-family: "roboto", serif;
	margin: 0px auto;
}
.trending-content-listview {
	background-color: #E8F4DB;
	border: 1px solid #64b80b;
}
.mypublished-content-listview {
	background-color: #FCEFDD;
	border: 1px solid #E9911B;
}
/*.workflow-content-listview {
	background-color: #FDDDE0;
	border: 1px solid #F31832; 
}*/
.trending-listview, .mypublished-listview, .workflow-listview {
	display: block;
	float: left;
	height: auto;
	width: 1046px;
	position: relative;
	top: 0px;
	margin-left: 10px;
}
.trending-bottom, .mypublished-bottom, .workflow-bottom {
	display: block;
	float: left;
/*	height: 266px;expand*/
	width: 1046px;
	position: relative;
	top: 0px;
	margin-left: 10px;
}
.trending-bottom { background-color: #E8F4DB; }
.mypublished-bottom { background-color: #FCEFDD; }
.workflow-bottom { background-color: #FDDDE0; }
.trending-head, .mypublished-head, .workflow-head {
	float: left;
	height: 28px;
	width: 1066px;
	position: relative;
	top: 0px;
	font-family: "roboto condensed", serif;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
/*	padding: 7px 0px;*/
}
.trending-head {
	background-color: #C9E6AA;
	border-bottom: 1px solid #64B80B;
}
.mypublished-head {
	background-color: #F7D9AF;
	border-bottom: 1px solid #E9911B;
}
.workflow-head {
	background-color: #FBAEB7;
	border-bottom: 1px solid #F31832;
}
.trending-row, .mypublished-row, .workflow-row {
	display: block;
	/*float: left;*/
/*	height: 340px;expand*/
	width: 1068px;
	position: relative;
	margin: 0px auto;
	clear:both;
}
div.kpi-lastupdate {
	display: block;
	float: left;
	height: 40px;
	width: 150px;
	position: relative;
	color: #000;
	font-family: "roboto", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	left: 5px;
	top: 2px;
	padding: 0 5px 0 0;/*	font: nornal uppercase normal 12/18 "roboto",sans-serif;*/
	
}
.section-title {
	font-family: "roboto", serif;
	font-size: 24px;
	font-style: normal;
	line-height: 41px;
	font-weight: normal;
	display: block;
	float: left;
	height: 41px;
/*	width: 235px;*/
	position: relative;
}
.section-title-kpi {
	font-family: "roboto", serif;
	font-size: 24px;
	font-style: normal;
	line-height: 41px;
	font-weight: normal;
	display: block;
	float: left;
	height: 41px;
	position: relative;
}
.trending-row-one, .trending-row-two, .trending-row-three {
	display: block;
	float: left;
/*	height: 100px;expand*/
	width: 1046px;
	position: relative;
	top: 0px;
}
.trending-left-column {
	display: block;
	float: left;
/*	height: 88px;expand*/
	width: 796px;
	position: relative;
	left: 0px;
	top: 0px;
}
.trending-right-column {
	display: block;
	float: left;
	width: 210px;
	position: relative;
	white-space:nowrap;
	left: 50px;
	top: 0px;
}
.trending-staff-non-publish, .trending-staff-publish, .trending-admin-review, .trending-admin-approved, .trending-admin-declined, .trending-landing-articles { width: 800px }  
.viewmore-link {
	display: block;
	float: right;
	position:relative;
	font-family: "roboto", serif;
	font-size: 12px;
	font-style: normal;
	line-height: 16px;
	font-weight: normal;
	bottom: 30px;

}
a.viewmore-link:focus {
}
.agency-drpdwn, .tags-drpdwn, .calendar-drpdwn { height: 40px; }
.tags-drpdwn { position:relative; left:19px; max-width:250px; }
.calendar-drpdwn { position:relative; left:69px; bottom:10px; }
.cs-button2 { left: 30px; margin: 10px 0px; }
.cs-button3 { bottom: 8px; left: 30px; }
.cs-button2, .cs-button3, .cs-button-filter {
	position: relative;
	border: 1px solid #999999;
	background: #ebebeb;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ebebeb));
	background: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
	padding: 10.5px 21px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	-moz-box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	text-shadow: #60676b 0 1px 0;
	color: #000000;
	font-size: 14px;
	font-family: "roboto", serif;
	text-decoration: none;
	vertical-align: middle;
/*	margin: 0 30px;*/
	
}
.cs-button2:hover{
	border: 1px solid #046a99;
	text-shadow: #60676b 0 1px 0;
	background: #095db6;
	background: -webkit-gradient(linear, left top, left bottom, from(#5aa8d8), to(#095db6));
	background: -webkit-linear-gradient(top, #5aa8d8, #095db6);
	background: -moz-linear-gradient(top, #5aa8d8, #095db6);
	background: -ms-linear-gradient(top, #5aa8d8, #095db6);
	background: -o-linear-gradient(top, #5aa8d8, #095db6);
	background-image: -ms-linear-gradient(top, #5aa8d8 0%, #095db6 100%);
	color: #fff;
}
.cs-button2:active{
	text-shadow: #60676b 0 1px 0;
	border: 1px solid #0a3c59;
	background: #5aa8d8;
	background: -webkit-gradient(linear, left top, left bottom, from(#095db6), to(#095db6));
	background: -webkit-linear-gradient(top, #095db6, #5aa8d8);
	background: -moz-linear-gradient(top, #095db6, #5aa8d8);
	background: -ms-linear-gradient(top, #095db6, #5aa8d8);
	background: -o-linear-gradient(top, #095db6, #5aa8d8);
	background-image: -ms-linear-gradient(top, #095db6 0%, #5aa8d8 100%);
	color: #fff;
}
#resetPassword.cs-button { position: relative!important; bottom: 25px;  }
.approve-btn { position:relative; top:6px; float: left; }
.cs-button { position:relative; top:24px;}
.cs-button, #resetPassword.cs-button, .approve-btn {
	border: 1px solid #999999;
	background: #ebebeb;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ebebeb));
	background: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%);
	padding: 10.5px 21px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	-moz-box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4);
	text-shadow: #60676b 0 1px 0;
	color: #000000;
	font-size: 14px;
	font-family: "roboto", serif;
	text-decoration: none;
	vertical-align: middle;
	margin: 0 30px;
}
.cs-button:hover, #resetPassword.cs-button:hover, .approve-btn:hover {
	border: 1px solid #046a99;
	text-shadow: #60676b 0 1px 0;
	background: #095db6;
	background: -webkit-gradient(linear, left top, left bottom, from(#5aa8d8), to(#095db6));
	background: -webkit-linear-gradient(top, #5aa8d8, #095db6);
	background: -moz-linear-gradient(top, #5aa8d8, #095db6);
	background: -ms-linear-gradient(top, #5aa8d8, #095db6);
	background: -o-linear-gradient(top, #5aa8d8, #095db6);
	background-image: -ms-linear-gradient(top, #5aa8d8 0%, #095db6 100%);
	color: #fff;
}
.cs-button:active, #resetPassword.cs-button:active, .approve-btn:active, .paginate_button:hover, .paginate_button:active {
	text-shadow: #60676b 0 1px 0;
	border: 1px solid #0a3c59;
	background: #5aa8d8;
	background: -webkit-gradient(linear, left top, left bottom, from(#095db6), to(#095db6));
	background: -webkit-linear-gradient(top, #095db6, #5aa8d8);
	background: -moz-linear-gradient(top, #095db6, #5aa8d8);
	background: -ms-linear-gradient(top, #095db6, #5aa8d8);
	background: -o-linear-gradient(top, #095db6, #5aa8d8);
	background-image: -ms-linear-gradient(top, #095db6 0%, #5aa8d8 100%);
	color: #fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
	border: 1px solid #999999!important;
	background: #ebebeb!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ebebeb))!important;
	background: -webkit-linear-gradient(top, #f9f9f9, #ebebeb)!important;
	background: -moz-linear-gradient(top, #f9f9f9, #ebebeb)!important;
	background: -ms-linear-gradient(top, #f9f9f9, #ebebeb)!important;
	background: -o-linear-gradient(top, #f9f9f9, #ebebeb)!important;
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #ebebeb 100%)!important;
	-webkit-border-radius: 3px!important;
	-moz-border-radius: 3px!important;
	border-radius: 3px!important;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4)!important;
	-moz-box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4)!important;
	box-shadow: 1px 1px 3px 0px rgba(15, 15, 15, 0.4)!important;
	text-shadow: #60676b 0 1px 0!important;
	color: #000000!important;
	font-size: 14px!important;
	font-family: "roboto", serif!important;
	vertical-align: middle!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.current:active {
	text-shadow: #60676b 0 1px 0!important;
	border: 1px solid #0a3c59!important;
	background: #5aa8d8!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#095db6), to(#095db6))!important;
	background: -webkit-linear-gradient(top, #095db6, #5aa8d8)!important;
	background: -moz-linear-gradient(top, #095db6, #5aa8d8)!important;
	background: -ms-linear-gradient(top, #095db6, #5aa8d8)!important;
	background: -o-linear-gradient(top, #095db6, #5aa8d8)!important;
	background-image: -ms-linear-gradient(top, #095db6 0%, #5aa8d8 100%)!important;
	color: #fff!important;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 5px!important;
    font-size: 14px;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
    top: 20px;
    position: relative;
}
table.dataTable.compact tbody td {
    padding: 8px;
    color: #000;
    position: relative;
    vertical-align: top;
	font-size: 12px;
}
.tools-left-wrap {
	display: block;
	float: left;
	height: 27px;
	width: 235px;
	position: relative;
	left: 0px;
	top: 0px;
	text-align: left;
	padding: 7px 0 0 8px;
}
.tools-right-wrap { display: block; float: right; height: 27px; width: 210px; position: relative; top: 0px; right: 0px; }
.tools-total-update, .tools-total-views, .tools-total-shares {
	display: block;
	float: left;
	height: 34px;
	width: 70px;
	padding-top: 5px;
	position: relative;
	font-family: "roboto", serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: center;
}
.mypublish-updated {
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 16px;
	position: relative;
	top:6px;
	width: 70px; 
}
.mypublish-views, .mypublish-shares {
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 16px;
	position: relative;
	top:6px;
	width: 70px; 
}
/*.mypublish-updated, .mypublish-views, .mypublish-shares { width: 83px; }*/
.mypublish-updated { background-image: url(../img/updated-n.png);}
.mypublish-views { background-image: url(../img/views-n.png);}
.mypublish-shares { background-image: url(../img/shares-n.png);}
.landing-view-btn {
	width: 200px;
	margin: 60px auto;

}
.left-row-one {
	display: inline-block;
	float: left;
	height: 34px;
	width: 796px;
	position: relative;
	left: 0px;
	top: 5px;
}
.left-row-two, .left-row-three, .left-row-four {
	display: inline-block;
	float: left;
/*	height: 18px;expand*/
	width: 796px;
	position: relative;
	left: 0px;
	top: 0px;
}
.left-publish-date {
	display: inline-block;
	float: left;
	width: 576px;
	position: relative;
	left: 0px;
	top: 0px;
	font-family: "roboto", serif;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	line-height:20px;
}
.left-title, .left-title-publish, .left-title-review, .left-title-approved, .left-title-articles, .left-title-declined, .left-title-workflow {
    display: inline-block;
    float: left;
    position: relative;
    left: 0px;
    top: 0px;
    font-family: "roboto", serif;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    line-height: 20px;
}
.left-agency, .left-shortdesc, .left-author {
	display: inline-block;
	float: left;
/*	height: 18px;expand*/
/*	width: 576px;*/
	position: relative;
	left: 0px;
	top: 0px;
	font-family: "roboto", serif;
	font-size: 18px;
	color: #000;
}
.author { font-family: "roboto", serif; font-size: 14px; color: #000; font-weight: bold;}
.author span, .pub-date { font-weight: normal!important; }

.left-publish-date { font-size: 14px; 	height: 18px; color:#000;}
.left-agency, .left-author { font-size: 14px; font-weight: bold; color:#000;}
.left-shortdesc { font-size: 14px; color:#669; word-wrap: break-word;width: 90%!important; }
.left-column-tools {
	display: inline-block;
	float: right;
	height: 34px;
	width: 220px;
	position: relative;
	top: 0px;
	right: 0px;
	font-size: 14px;
}
.left-most {
	display: block;
	float: left;
	height: 34px;
	width: 30px;
	position: relative;
	font-family: "roboto", serif;
	font-size: 12px;
	font-weight: bold;	
	color: #000;
	text-align: right;
	padding-top:4px;
}
.left-most-pubdate {
	display: block;
	float: left;
	height: 34px;
	position: relative;
	font-family: "roboto", serif;
	font-size: 12px;
	font-weight: bold;	
	color: #000;
	padding-top:4px;
}
.view-all {
	display: block;
	float: left;
	height: 19px;
	width: 172px;
	position: relative;
	font-family: "roboto", serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: center;
	padding-top:4px;
}
.left-most-pubdate { width: 220px}
.left-tags, .left-views, .left-shares {
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 34px;
	width: 30px;
	position: relative;
	top: 3px;
	left: 3px;
}
.left-tags { background-image: url(../img/tags-n.png); }
.left-views { background-image: url(../img/views-n.png); }
.left-shares { background-image: url(../img/shares-n.png); }
.left-total {
	display: block;
	float: left;
	height: 34px;
	width: 45px;
	position: relative;
	left: 5px;
	top: 0px;
	font-family: "roboto", serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: left;
	padding-top:4px;
}
.publish-date {
	background-color: #FFE500;
	display: block;
	float: right;
	height: 18px;
	width: 220px;
	padding-right: 40px;
	position: relative;
	font-family: "roboto", serif;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.publish-date span { font-weight: normal!important; }

.article-status {
	text-align: center;
	display: block;
	float: right;
/*	height: 34px;expand*/
	width: 90px;
	position: relative;
	font-family: "roboto", serif;
	font-size: 12px;
	color: #000;
	left:10px;
	font-weight:700;
	padding-top: 7px;
}

/* Filter panel begins */
.filter-main-panel {
	background-color: #B5CEE9;
	display: block;
	float: left;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #046B99;
	position: relative;
}
/* Full Pages */
.recent-published-row {
	display: block;
	float: left;
	height: 100%;
	width: 1068px;
	position: relative;
	margin: 0px 20px;
}
.artcles-list-view {
	display: block;
	float: left;
	height: auto;
	width: 100%;
	position: relative;
	max-width:1100px;
	padding: 7px 0px 0px 15px;
	
	
}
.articles-header {
	float: left;
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #000000;
	position: relative;
	top: 0px;
}
.articles-right-column {
	display: block;
	float: left;
	height: auto;
	width: 250px;
	position: relative;
	margin-left:25px;
}
.articles-stats {
	display: block;
	float: left;
	height: 99px;
	width: 250px;
	position: relative;
}
.articles-left-line {
	background-color: #cccccc;
	display: block;
	float: left;
	height: 1px;
	width: 796px;
	margin: 5px 0px;
	position: relative;
}
.articles-right-line {
	background-color: #cccccc;
	display: block;
	float: left;
	height: 1px;
	width: 300px;
	margin: 5px 0px;
	position: relative;
	top:54px;
	right:25px;
}
.page-title {
	font-family:  "Roboto", serif;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	display: block;
	float: left;
	height: 35px;
	width: 1066px;
	position: relative;
	padding: 10px 0px 0px 15px;
}
.search-filter-row {
	font-family: "Roboto", serif;
	font-size: 14px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	display: block;
	float: left;
	height: 65px;
	width: 1066px;
	position: relative;
}
.show-pages {
	font-family: "Roboto", serif;
	font-size: 14px;
	font-weight: normal;
	display: block;
	float: left;
	height: 65px;
	width: 300px;
	position: relative;
}
.listview-pages { font-family: "Roboto", serif; font-size: 14px; font-weight: normal; display: block; position:relative; float:right; bottom: 9px; right:68px; }
.listview-show { font-family: "Roboto", serif; font-size: 14px; font-weight: normal; display: block; position:relative; top:25px; left:75px; } 
.filter-search-box {
	font-family: "Roboto", serif;
	font-size: 14px;
	font-weight: normal;
	color: #ccc;
	display: block;
	float: left;
	height: 40px;
	width: 515px;
	position: relative;
}
.show-filter-wrap {
	font-family: "Roboto", serif;
	font-size: 14px;
	color: #FFf;
	text-decoration: none;
	display: block;
	float: left;
	height: 65px;
	width: 140px;
	bottom: 15px;
	position: relative;
}

.list-view-title {
	font-family: "Roboto", serif;
	font-size: 18px;
	font-weight: normal;
	display: block;
	float: left;
	height: 40px;
	width: 225px;
	padding-top:7px;
	position: relative;
}
.create-article-wrap {
	display: block;
	height: 100%;
	width: 900px;
	position: relative;
	top: 45px;
	margin: 0px auto;
	left:18%;
}
.create-article-form-wrap {
	display: block;
	height: 100%;
	width: 900px;
	position: relative;
	top: 45px;
	margin: 0px auto;
}
.uploadbtn { position: relative; float:left; }
.double-btn-wrap {
	display: block;
	height: auto;
	width: 600px;
	position: relative;
	margin: 0px auto;
}
/* Article Details Begin*/
.articles-title { 
	font-family:"Roboto Condensed", serif;
	font-size:24px;
	font-weight: bold;

}
.artcles-details-view { width:870px; position:relative; float:left; left:100px; }
.details-title-wrap { width: 868px; height:50px; position:relative; float:left; border-bottom: 1px solid #000; }
.details-title {
	    font-family: "Roboto Condensed", serif;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    display: block;
    float: left;
    height: 50px;
    width: 468px;
    position: relative;
    padding-top: 13px;
    overflow-x: hidden;
    white-space: nowrap;	
}
.details-agency-name {
	font-family: "Roboto Condensed", serif; font-size: 18px; font-weight: bold; 	
	color:#000;    
	display: block;
    float: left;
    height: 30px;
    width: 870px;
    position: relative;
	padding-top:5px;
}
.details-tools {
    display: block;
    float: left;
    height: 24px;
    width: 400px;
    position: relative;
}
.details-icon-wrap {
    display: block;
    float: left;
    height: 24px;
    width: 102px;
    position: relative;
	padding-top: 12px;
}
.tool-history {
    background-image: url(../img/historyart-n.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 24px;
    width: 34px;
    position: relative;
}
.tool-history:hover, .tool-history:focus {
    background-image: url(../img/historyart-h.png);
}
.tools-edit {
    background-image: url(../img/editart-n.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 24px;
    width: 34px;
    position: relative;
}
.tools-edit:hover, .tools-edit:focus {
    background-image: url(../img/editart-h.png);
}
.tool-delete {
    background-image: url(../img/deleteart-n.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 24px;
    width: 34px;
    position: relative;
}
.tool-delete:hover, .tool-delete:focus { background-image: url(../img/deleteart-h.png); }
.tool-dropdwn {
    display: block;
    float: left;
    height: 30px;
    width: 110px;
	top:12px;
	position: relative;
	right: 70px;
}
.tool-status {
    font-family:"Roboto", serif; 
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: rgba(0,0,0,1);
    float: left;
    height: 30px;
    width: 55px;
	padding-top: 18px;
    position: relative;
	text-align:right;
}
.tool-approve-btn {
    display: block;
    float: left;
    height: 30px;
    width: 100px;
    position: relative;
}
.details-paragraph, .details-longdescription {
    font-family: "Roboto", serif; 
    font-size: 14px;
    font-weight: normal;
    display: block;
    float: left;
    height: auto;
    width: 870px;
    position: relative;
	margin:0 10px 20px 10px;
}
.details-paragraph p, .details-longdescription p { padding: 5px 0px; }
.details-tags-wrap {
    display: block;
    float: left;
    height: 36px;
    width: 870px;
    margin-bottom: 10px;
    position: relative;
}
.details-longdescription { }
.details-tags {
    font-family: "Roboto", serif; 
    font-size: 14px;
    font-weight: bold;
    display: block;
    float: left;
    height: 30px;
    width: 45px;
    position: relative;
	top:11px;	
}
.details-tags-field {
    display: block;
    float: left;
    height: 36px;
    width: 800px;
    position: relative;
	border: 1px dotted #999;
}
.details-stats {
    background-color: #efefef;
    display: block;
    float: left;
    height: 60px;
    width: 870px;
    border: 1px solid #dcdcdc;
	border-radius: 3px;
    position: relative;
}
.details-stats-one {
    display: block;
    float: left;
    height: 30px;
    width: 868px;
    font-family: "Roboto", serif; 
    font-size: 14px;
    font-weight: bold;	
    position: relative;
}
.details-stats-two{
    display: block;
    float: left;
    height: 30px;
    width: 868px;
    font-family: "Roboto", serif; 
    font-size: 14px;
    font-weight: normal;	
    position: relative;
}

.stat-row-one {
    font-family: "Roboto", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    display: block;
    float: left;
    height: 30px;
    width: 96px;
    position: relative;
	padding: 10px 0 3px 10px;
}
.stat-row-two {
    display: block;
    float: left;
    height: 30px;
    width: 96px;
    position: relative;
	padding: 10px 0 3px 10px;	
}
.details-comments, .details-history {
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    display: block;
    float: left;
    height: 40px;
    width: 870px;
    position: relative;
	padding: 15px 0 0 5px;
}
.details-comments img { position:relative; left:5px; top:3px; }
.comments-inner-wrap {
    display: block;
    float: left;
    height: auto;
    width: 870px;
    position: relative;
}

.commenter-author-wrap {
    display: block;
    float: left;
    height: auto;
    width: 815px;
    position: relative;
}
.commenter-icon {
    background-image: url(../img/user-profile-n.png);
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    float: left;
	min-height:105px;
    height: auto;
    width: 55px;
    position: relative;
	padding-top:3px;
}
.commenter-author-name {
    font-family: "Roboto", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    display: block;
    float: left;
    height: 20px;
    width: 815px;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
}
.comment-published {
    font-family: "Roboto", serif;
    font-size: 14px;
    color: #999;
    display: block;
    float: left;
    height: 20px;
    width: 815px;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
}
.commenters-comment {
    font-family: "Roboto", serif;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0,0,0,1);
    float: left;
    height: auto;
    width: 815px;
    padding:  0px 5px 5px 5px;
	position: relative;
	word-wrap: break-word!important;
}
.comments-wrap, .history-wrap {
    display: block;
    float: left;
    height: auto;
    width: 870px;
    position: relative;

}
.history-table { font-family: "Roboto", serif; font-size: 14px; line-height: 18px; }
.history-table th { font-weight: bold;  padding: 5px 10px; border: 1px solid #999; background-color: #efefef; }
.history-table td { font-weight: normal;  padding: 5px 10px; border: 1px solid #999; }
.history-status, .history-state { position:relative; float: left; }
.history-state { padding-left: 5px; }
/*Stepped on default boostrap styles begins */
#container { padding: 0 10px;max-width:1100px; }
.control-label { font-family: "Roboto", serif; font-size: 14px; font-weight: bold; display: block; padding-bottom: 3px; }
.datatable .odd td, .even td { font-family: "roboto", serif; font-size: 14px;}
.filter-checkbox { margin: 10px auto; }
.filter-checkbox .checkbox label, #articles_filter label { font-family: "Roboto", serif; font-size: 14px }
.datatable-wrap { width: 1000px; margin: 0px auto; }
/*.dataTables_paginate .paging_full_numbers, .paginate_button, .left-most-pubdate, .odd td, .even td { font-size: 14px!important; font-family: "Roboto", serif;  }*/
.dataTables_length select  { height: 40px; font-size: 12px; }
.adpq-form-control:focus, .dataTables_length select:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); }
.head-row { font-size:  14px; font-family: "roboto", serif; }
.head-row th { white-space: nowrap;padding-top:10px; font-size: 14px; }
.title-column, .updated-column, .views-column, .shares-column { font-size:  14px; font-family: "roboto", serif; white-space: nowrap; }
.updated-column, .updated-column .sorting_asc { width:98px!important; max-width:98px!important; }
.views-column, .views-column .sorting_asc { width:98px!important; max-width:98px!important; }
.shares-column, .shares-column .sorting_asc { width:80px!important; max-width:80px!important; }
/* Data Tables Begin */
.Description-wrap { width: 870px; /*left: 100px; */position: relative; }
.Description-wrap label { font-size: 14px; font-weight: bold; float:left; position: relative; margin:5px auto; }
.dynamic-table { max-width: 870px; position:relative; float: left; }
table.dataTable tbody tr { background-color: transparent!important; }
table.dataTable.compact thead th { vertical-align: middle!important; }
.compact .dataTable .no-footer { font-family: "roboto condensed", serif; }
.compact .dataTable .no-footer thead tr th.sorting_asc {  }
#articles { max-width: 870px }
.dataTables_length select { max-width: 70px; }
.article-title { font-weight: bold; font-size: 18px; }
.article-agency { font-weight: bold; font-size: 14px; padding: 0 0 4px 0;  }
.article-author { font-weight: bold; font-size: 14px;  padding: 4px 0 4px 0;  }
.article-publishdate { position:relative; float: right; color:red;}
.location { position: relative; float: right; right: 69px; top: -55px; }
.dataTables_info { font-size: 14px; font-family:"roboto", serif; padding-top: 13px; }
/*.dataTables_filter label { display:none; }*/
.dataTables_wrapper .dataTables_filter {float: right; text-align: right; position: relative; right: 50px; }
.dataTables_wrapper .dataTables_filter input { width:300px; height: 40px; border: 1px solid #999!important; padding: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.dataTables_wrapper .dataTables_length select { height: 40px; border: 1px solid #999!important; padding: 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.dataTables_wrapper strong { font-weight: bold; padding: 5px 0px!important; }
.hasDatepicker {
	width: 150px;
	padding: 10px 10px;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal 16px/normal "Roboto Condensed", Helvetica, Arial, sans-serif;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(255,255,255,0.75);
	height: 32px;
	margin: 9px 0px;
	color:#000;
}
.checkbox label ,.daterange label, .dataTables_length label { font-size: 14px; padding-right: 5px; }
.checkbox { font-size: 14px; padding-left: 5px; }
.filter-okbtn { position:relative; float:right; top:-5px; }
/*Checkboxes*/

/* Data Tables End */.adpq-nav {
    background-color: #046b99;
    display: block;
    float: left;
    height: 50px;
    width: 1100px;
    border-bottom: 1px solid #e9911b;
    position: relative;
}
.filter-row-wrap {
    display: block;
    float: left;
    height: 40px;
    width: auto;
    position: relative;
	max-width:1100px;
}
.filter-dropdwn {
    display: block;
    float: left;
    height: 40px;
    width: 200px;
    position: relative;
    top: 0px;
}
.filter-search-field {
    display: block;
    float: left;
    height: 40px;
    width: 600px;
    position: relative;
}
.filter-btn {
    display: block;
    float: left;
    height: 40px;
    width: 100px;
    position: relative;
}
.share-icon-wrap {
    font-family: "Roboto", serif;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    display: block;
    float: right;
    height: 30px;
/*    width: 300px;*/
	margin-right: 30px;
    position: relative;
}
.share-icon-wrap label {
/*    display: block;*/
/*	margin: 5px 10px;*/
    position: relative;
	top:7px;
	float:left;
}
.share-fbook, .share-twitter, .share-email { width: 26px; height:26px; position:relative; float:left; margin-left: 5px; }
.share-fbook { background: url("../img/fbook-n.png") no-repeat; }
.share-twitter { background: url("../img/twitter-n.png") no-repeat; }
.share-email { background: url("../img/email-n.png") no-repeat; }
.share-fbook:hover, .share-fbook:focus { background: url("../img/fbook-h.png") no-repeat; }
.share-twitter:hover, .share-twitter:focus { background: url("../img/twitter-h.png") no-repeat; }
.share-email:hover, .share-email:focus { background: url("../img/email-h.png") no-repeat; }
.share-icon-wrap img:hover { }
.agency-share-wrap {
    display: block;
    float: left;
    height: 30px;
    width: auto;
    position: relative;
}
.manage-user-wrap {
	display: block;
	height: 100%;
	width: 700px;
	position: relative;
	top: 45px;
	margin: 0px auto;
}
.man-user-inwrap {
    display: block;
    float: left;
    height: 60px;
    width: 700px;
	margin-bottom: 15px;	
    position: relative;
}
.profile-img {
    background-image: url(../img/profile-pic.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    float: left;
    height: 60px;
    width: 60px;
    position: relative;
}
.man-user-labels {
    display: block;
    float: left;
    height: 60px;
    width: 250px;
    position: relative;
}
.man-username, .man-name {
    font-family:"Roboto", serif;
    font-weight: bold;
    display: block;
    float: left;
    height: 30px;
    width: 250px;
	vertical-align: middle;
	padding: 8px;
	position: relative;
}
.man-username { color: #000; }
.man-name { color: #999; }
.man-btnwrap {
    display: block;
    margin: auto;
    float: left;
    height: 60px;
    width: 390px;
    position: relative;
	bottom: 10px;
}
.man-btnwrap .cs-button { min-width: 116px!important; }
.man-edit {
    display: block;
    float: left;
    height: 60px;
    width: 130px;
    position: relative;
}
.man-remove {
    display: block;
    float: left;
    height: 60px;
    width: 130px;
    position: relative;
}
.man-create {
    display: block;
    float: left;
    height: 60px;
    width: 130px;
    position: relative;
}
/* Toggle Switch on/off*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #046B99;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.shicon {
  color:#000!important;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*	padding-right:4px;*/
	padding: 0 5px 0 10px;
}
.bottom-space { margin: 25px 0px }
.display-2 { font-size: 18px!important; color: #000!important; font-weight: bold;}

.details-stats {
	font-family: "roboto condensed", serif;
    background-color: #efefef;
    display: block;
    float: left;
    height: auto;
    width: 870px;
    border: 1px solid #dcdcdc;
    position: relative;
	border-radius: 3px;
	white-space:nowrap;
	color:#000;
}
.stats-col-one, .stats-col-two, .stats-col-three, .stats-col-four, .stats-col-five, .stats-col-six, .stats-col-seven, .stats-col-eight, .stats-col-nine  {
    display: block;
    float: left;
    height: 60px;
    width: 90px;
    padding: 10px 0px 3px 10px;	
    position: relative;
}
.stats-one-top, .stats-two-top, .stats-three-top, .stats-four-top, .stats-five-top, .stats-six-top, .stats-seven-top, .stats-eight-top, .stats-nine-top {
    display: block;
    float: left;
    height: 30px;
    width: 95px;
    position: relative;
	font-size: 14px;
	font-weight: bold;
}
.stats-one-bottom, .stats-two-bottom, .stats-three-bottom, .stats-four-bottom, .stats-five-bottom, .stats-six-bottom, .stats-seven-bottom, .stats-eight-bottom, .stats-nine-bottom {
    display: block;
    float: left;
    height: 30px;
    width: 90px;
    position: relative;
	font-size: 14px;
	text-align: left;
}

.adpq-back-btn { background: url("../img/arrow-back-n.png") no-repeat;}
.adpq-back-btn:hover { background: url("../img/arrow-back-h.png") no-repeat;}