@charset "utf-8";

@media (max-width: 1100px){
.main-wrapper-sm { background-image: url(../img/adpq-headerbg-sm.jpg) repeat-x; height: 51px; }
.adpq-container {
    background-image: url(../img/adpq-mainbg.gif);
    width: 90%;
    margin-top: 0px;
    margin-right: auto;
}
.adpq-headcontainer {
    font-family: 26px/32px "Roboto",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #046b99;
    vertical-align: middle;
    padding: 0px;
    height: 51px;
    width: 90%;
    margin: 0px auto 10px auto;
    border-bottom: 1px solid #E9911B;
    position: relative;
    top: 0px;
}
.main-wrapper-sm {
    background-image: url(../img/adpq-headerbg-sm.jpg);
    background-repeat: repeat-x;
    height: 51px;
}
.adpq-brand {
    background-image: url(../img/adpq-brand.png);
    background-repeat: no-repeat;
    margin: 0px  0px  0px  10%;
    padding: 0px;
    float: left;
    height: 51px;
    width: 150px;
    position: relative;
    left: 3%;
    top: 0px;
}
.adpq-loginwrap {
    width: 380px;
}
.adpq-loginwrap { margin: 0px;
    float: right;
    height: 51px;
    position: relative;
    top: 0px;
    right: 0px;
}
.adpq-log-input {
    float: left;
    height: 50px;
    width: 320px;
    position: relative;
    left: 10px;
}
.terms {     
	font-family: "roboto", serif;
	font-size: 12px;
	display:block;
	margin: 50px auto!important;
    height: auto;
    width: 80%;
}
a.terms {     
	margin: 50px auto!important;
    height: auto;
	display:block;
	text-align: center;
}	
.trending-staff-non-publish, .trending-staff-publish, .trending-admin-review, .trending-admin-approved, .trending-admin-declined, .trending-landing-articles { width: 95%; }
.trending-row, .mypublished-row, .workflow-row { width: 95%; margin: 0 0 0 3%!important; }
.kpi-header,.mypublish-header { 
	display: block;
    float: left;
    height: 41px;
    width: 98%;
    position: relative; }
.left-title, .left-publish-date	{     
		display: inline-block;
    	float: left;
    	width: 476px;
    	position: relative;
    	left: 0px;
    	top: 0px;
    	font-family: "roboto", serif;
    	font-size: 16px;
    	color: #000;
    	font-weight: bold;
    	line-height: 20px; }
#articles { max-width: 90% ; }
.dataTables_wrapper .dataTables_filter { float: right; text-align: right; position: relative; }
.dataTables_wrapper .dataTables_filter input { width: 300px;
    height: 40px;
    border: 1px solid #999!important;
    padding: 5px;
    left: 5%;
    position: relative; }
table.dataTable thead th, table.dataTable thead td, table th.title-column sorting_asc {
    padding: 10px 18px;
    border-bottom: 1px solid #000;
	max-width:992px;
}
/** Dashboards **/
.adpq-container { margin: 0px auto;  width: 100%; }
.kpi-row { display:block; padding:0px; height: auto; width: 95%; position:relative; margin: 0px auto!important; }
.mypublished-row { display:block; padding:0px; width: 92%; position:relative; margin-left: 5px!important; }
.workflow-row { display:block; padding:0px; height: auto;width: 100%; position:relative; margin-left: 5px!important; }
.trending-row { display:block; padding:0px; height: auto;width: 100%; position:relative; margin-left: 5px!important; }		
.kpi-header, .mypublished-header { display: block; float: left; height: 41px; width: 100%; position: relative; }
.workflow-header { display: block; float: left; height: 41px; width: 92%; position: relative; }	
.trending-header { display: block; float: left; height: 41px; width: 92%; position: relative; }
.trending-content { display: block; float: left; width: 92%; position: relative; -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55); -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55); box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55); }	
.kpi-content { width: 95%; float: left; height: auto; position: relative; margin-bottom: 5px; }
.kpi-publish, .kpi-review, .kpi-declined, .kpi-views, .kpi-shares, .kpi-users { 
	background-color: #A8DDFF;
	display: block;
    float: left;
    height: 150px;
    width: 174px;
    margin-right: 2px;
    margin-left: 2px;
	margin-bottom:10px;
    border: 1px solid #046b99;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    z-index: -1;
}
.mypublished-content {
    display: block;
    float: left;
	width: 100%;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
}
.workflow-content {
    display: block;
    float: left;

    width: 92%;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
}	
.trending-head, .mypublished-head, .workflow-head {
    float: left;
    height: 28px;
    width: 100%;
    position: relative;
    top: 0px;
    font-family: "roboto condensed", serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.trending-bottom, .mypublished-bottom, .workflow-bottom {
    display: block;
    float: left;
    width: 98%;
    position: relative;
    top: 0px;
    margin-left: 10px;
}
.mypublished-bottom { background-color: #FCEFDD; }	
.trending-left-column { height: auto!important; width:60%!important; }
.trending-right-column { display: block; float: left;/* height: 88px;expand*/width:250px; position: relative; left: 70px; top: 0px; padding-left: 15px; }
.left-shortdesc {line-height: 18px; height:auto; font-size: 14px; color: #669;word-wrap: break-word; /*overflow: hidden; white-space: nowrap!important;expand*/ width: 650px!important; }
.left-row-two, .left-row-three, .left-row-four {
    display: inline-block;
    float: left;
    width: 75%;
    position: relative;
    left: 0px;
    top: 0px;
}
.tools-total-shares {
    display: block;
    float: left;
    height: 34px;
    width: 70px;
    padding-top: 5px;
    position: relative;
    font-family: "roboto", serif;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    text-align: center;
	left: 15px;
}
.left-column-tools	 {
    display: inline-block;
    float: right;
    height: 34px;
    width: 220px;
    position: relative;
    top: 0px;
    right:0px;
    font-size: 12px;
	font-family:"roboto", serif;
}
.left-most-pubdate { font-size: 12px!important; font-family: "Roboto", serif; position:relative; left:200px; bottom: 10px; }
.trending-row-one, .trending-row-two, .trending-row-three { display: block; float: left; width: 103%; position: relative; top: 0px;	}
/*.details-title-wrap { width: 848px; height: 50px; position: relative; float: left; border-bottom: 1px solid #000; }*/
/* Articles Details */	
.artcles-details-view { width: 850px; position: relative; margin: 0px; left: 55px;  }
.details-title-wrap { width: 100%!important; position: relative; margin: 0px; left: 15px; }
.details-agency-name {
    font-family: "Roboto Condensed", serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    display: block;
    float: left;
    height: 30px;
    width: 850px;
    position: relative;
    padding-top: 5px;
    left: 15px;
}
.Description-wrap { width: 850px; left: 15px; position: relative; }
.details-tags-wrap { display: block; float: left; height: 36px; width: 850px; margin-bottom: 10px; position: relative; left: 15px; }
.details-stats { background-color: #efefef; display: block; float: left; height: 60px; width: 860px; border: 1px solid #dcdcdc; border-radius: 3px; position: relative; }	
/* Articles Details End */	
td.child, .sorting_1, .sorting { font-size: 14px; }	
feildset { position:relative; margin: 0px 0px 0px 0px; }
}
@media (max-width: 992px){
.main-wrapper-sm { background-image: url(../img/adpq-headerbg-sm.jpg); background-repeat: repeat-x; height: 51px; }
.adpq-container { background-image: url(../img/adpq-mainbg.gif); width: 100%; margin-top: 0px; margin-right: auto; }
.adpq-headcontainer {
    font-family: 26px/32px "Roboto",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #046b99;
    vertical-align: middle;
    padding: 0px;
    height: 51px;
    width: 100%;
    margin: 0px auto 10px auto;
    border-bottom: 1px solid #E9911B;
    position: relative;
    top: 0px;
}
.main-wrapper-sm { background-image: url(../img/adpq-headerbg-sm.jpg); background-repeat: repeat-x; height: 51px; }
.adpq-brand {
    background-image: url(../img/adpq-brand.png);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    float: left;
    height: 51px;
    width: 150px;
    position: relative;
    left: 0px;
    top: 0px;
}
.adpq-loginwrap { width: 380px; }
.adpq-loginwrap { margin: 0px; float: right; height: 51px; position: relative; top: 0px; right: 0px; }
.adpq-log-input { float: left; height: 50px; width: 320px; position: relative; left: 10px; }
.main-wrapper-sm .adpq-container #container { width: 98%!important; max-width: 991px; margin-left:10px; }
a.terms { margin: 50px auto; height: auto; }
.terms { font-family: "roboto", serif; font-size: 12px; margin: 5px auto; height: auto; position: relative; width: 80%; text-align: center; }	
.trending-row-one, .trending-row-two, .trending-row-three { display: block; float: left; width: 103%; position: relative; top: 0px;	}
.trending-right-column {
    display: block;
    float: right;
    width: 180px;
    position: relative;
    left: -30px;
    top: 0px;
    padding: 0px!important;
}
.left-most-pubdate {
    font-size: 12px!important;
    font-family: "Roboto", serif;
    position: relative;
    left: 200px;
    bottom: 10px;
	width: 120px;
    float: right;	
}
.kpi-row { 
	height: 350px;
    display: block;
    padding: 0px;
    width: 80%;
    position: relative;
    margin: 0px auto!important;
} 
.left-row-one, .left-row-two, .left-row-three, .left-row-four { 
	display: inline-block;
    float: left;
    width: 100%;
    position: relative;
    left: 0px;
    top: 5px;
}
.workflow-content {
    display: block;
    float: left;
    width: 95%;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    left: 7px;
}
.mypublished-row {
    display: block;
    padding: 0px;
    width: 92%;
    position: relative;
    margin: 0px 7px!important;
}
.workflow-row {
    display: block;
    padding: 0px;
    width: 97%;
    position: relative;
    margin: 0px 1px!important;
}
/*.left-shortdesc {
    line-height: 18px;
    height: auto;
    font-size: 14px;
    color: #669;
    word-wrap: break-word;
    width: 450px!important;
}*/
.left-agency, .left-shortdesc, .left-author {
    display: block;
    float: left;
    width: 100%!important;
    position: relative;
    left: 0px;
    top: 0px;
    font-family: "roboto", serif;
    font-size: 14px;
    color: #669;
}	
.mypublish-updated, .mypublish-views, .mypublish-shares { width: 60px; }
.tools-right-wrap { display: block; float: right; height: 27px; width: 180px; position: relative; top: 0px; right: 0px; white-space: nowrap; }
.tools-total-update, .tools-total-views, .tools-total-shares { display: block; float: left; height: 34px; width: 56px; padding-top: 5px; position: relative; font-family: "roboto", serif; font-size: 12px; color: #000; font-weight: bold; text-align: center; white-space: nowrap;}
.left-title, .left-publish-date {
    display: inline-block;
    float: left;
/*    width: 476px;*/
    width: 100%;	
    position: relative;
    left: 0px;
    top: 0px;
    font-family: "roboto", serif;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    line-height: 20px;
}
/* Articles Details */	
.artcles-details-view { width: 740px; position: relative; margin: 0px; left: 5px;  }
.details-title-wrap { width: 97%!important; position: relative; margin: 0px; left: 15px; }
.details-agency-name { font-family: "Roboto Condensed", serif; font-size: 18px; font-weight: bold; color: #000; display: block; float: left;/* height: 30px;*/ width: 718px; position: relative; padding-top: 5px; left: 15px; }
.Description-wrap { width: 720px; left: 15px; position: relative; }
.details-paragraph, .details-longdescription { font-family: "Roboto", serif; font-size: 14px; font-weight: normal; display: block; float: left; height: auto; width: 720px; position: relative; margin-bottom: 20px; }
.details-tags-wrap { display: block; float: left; height: 36px; width: 850px; margin-bottom: 10px; position: relative; left: 15px; }
.details-tags { font-family: "Roboto", serif; font-size: 14px; font-weight: bold; display: block; float: left; height: 30px; width: 45px; position: relative; top: 11px; }
.details-tags-field	{ display: block; float: left; height: 36px; width: 675px; position: relative; border: 1px dotted #999; font-size: 13px!important; }
.details-stats { background-color: #efefef; display: block; float: left; height: 60px; width: 800px; border: 1px solid #dcdcdc; border-radius: 3px; position: relative; }
.details-stats-one, .details-stats-two { display: block; float: left; height: 30px; width: 675px; font-family: "Roboto", serif; font-size: 12px!important; font-weight: bold; position: relative; }
.stat-row-one, .stat-row-two { font-family: "Roboto", serif; font-size: 12px; font-style: normal; font-weight: bold; display: block; loat: left; height: 30px; width: 90px; position: relative; padding: 10px 0 3px 10px; }
.left-title-articles { display: inline-block; float: left; width: 400px; position: relative; left: 0px; top: 0px; font-family: "roboto", serif; font-size: 15px; color: #000; font-weight: bold; line-height: 16px; }
/* Articles Details End */
/* Articles Page */
.mypublished-row, .workflow-row { display: block; padding: 0px; width: 99%; position: relative; margin-left: 0px!important; }
.workflow-content-listview {
    display: block;
    height: auto;
    width: 105%;
    max-width: 900px;
    position: relative;
    padding: 5px;
    font-size: 14px;
    font-family: "roboto", serif;
    margin: 0px auto;
}	
/* Articles Page End*/		
	
feildset { position:relative; margin: 0px 0px 0px 0px; }	


@media (max-width: 768px){
.main-wrapper-sm {
    background-image: url(../img/adpq-headerbg-sm.jpg);
    background-repeat: repeat-x;
    height: 51px;
}
.adpq-container {
    background-image: url(../img/adpq-mainbg.gif);
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
}
.adpq-headcontainer {
    font-family: 26px/32px "Roboto",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #046b99;
    vertical-align: middle;
    padding: 0px;
    height: 51px;
    width: 90%;
    margin: 0px auto 10px auto;
    border-bottom: 1px solid #E9911B;
    position: relative;
    top: 0px;
}
.main-wrapper-sm {
    background-image: url(../img/adpq-headerbg-sm.jpg);
    background-repeat: repeat-x;
    height: 51px;
}
.adpq-brand {
    background-image: url(../img/adpq-brand.png);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    float: left;
    height: 51px;
    width: 150px;
    position: relative;
    left: 0px;
    top: 0px;
}
.adpq-loginwrap {
    width: 380px;
}
.adpq-loginwrap { margin: 0px;
    float: right;
    height: 51px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.adpq-log-input {
    float: left;
    height: 50px;
    width: 320px;
    position: relative;
    left: 10px;
}
.adpq-blurb {
    background-color: rgba(4,107,153,0.15);
    display: block;
    height: 220px;
    width: 87%;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border: 1px solid #046B99;
    box-sizing: content-box;
    margin: 20px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
}
.adpq-blurb h2 {
    font-family: "Roboto", serif;
    font-weight: bold;
    margin-top: 0%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 18px;
}
.adpq-blurb p {
    color: #000;
    font-family: "roboto condensed", serif;
    font-size: 1em;
    line-height: 1.2em;
}
a.terms { margin: 50px auto; height: auto; }
.terms { font-family: "roboto", serif; font-size: 12px; margin: 5px auto; height: auto; position: relative; width: 80%; text-align: center; }	
.trending-content, .mypublished-content, .workflow-content {
    display: block;
    float: left;
    width: 98.5%;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    left: 7px;
}
.left-row-three { word-wrap: break-word;  }
.left-shortdesc {
    line-height: 18px;
    font-size: 14px;
    color: #669;
    word-wrap: break-word;
    width: 510px!important;
}	
.trending-row { position:relative; width:100%; right:15px; }
.left-row-one, .left-row-two, .left-row-three, .left-row-four {
    display: inline-block;
    float: left;
    width: 100%;
    position: relative;
    left: 0px;
    top: 5px;
}
.left-most-pubdate {
    font-size: 12px!important;
    font-family: "Roboto", serif;
    position: relative;
    left: 200px;
    bottom: 10px;
    width: 125px;
    float: right;
}	
.main-wrapper-sm .adpq-container #container { width: 100%!important; max-width: 735px; margin-left:5px; }
#filters .filter-checkbox .checkbox label, #filters .filter-checkbox .checkbox label input, #agency, #tags, #daterange label, .checkbox label { font-family:"", serif; font-size: 14px; }
.agency-drpdwn, .tags-drpdwn, .calendar-drpdwn { height: 40px; max-width: 350px; width: 350px }
.kpi-row { 
	height: 350px;
    display: block;
    padding: 0px;
    width: 80%;
    position: relative;
    margin: 0px auto!important;
} 
.kpi-content { float: left; /*height: 320px; */width: 95%; position: relative; }

.mypublished-row, .workflow-row {
    display: block;
    padding: 0px;
    width: 95%;
    position: relative;
    margin-left: 0px!important;
}
.mypublished-header .section-title, .workflow-header .section-title { margin-left:5px; }	
.trending-right-column {
    display: block;
    float: left;
    width: 250px;
    position: relative;
    left: -10px;
    top: 0px;
	height:inherit;
    padding-left: 15px;
}
.trending-bottom, .mypublished-bottom, .workflow-bottom {
    display: block;
    float: left;
    width: 98%;
    position: relative;
    top: 0px;
    margin-left: 10px;
}
.left-title, .left-publish-date {
    display: inline-block;
    float: left;
    width: 476px;
    position: relative;
    left: 0px;
    top: 0px;
    font-family: "roboto", serif;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    line-height: 20px;
}
.left-shortdesc {
    line-height: 18px;
    font-size: 14px;
    color: #669;
    word-wrap: break-word;
    width: 300px!important;
}	
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #000;
	max-width:576px;
}
.trending-left-column { width: 50%!important; }
feildset { position:relative; margin: 0px 0px 0px 0px; }	
}

@media (max-width: 576px){
.main-wrapper-sm {
    background-image: url(../img/adpq-headerbg-sm.gif);
    background-repeat: repeat-x;
    height: 51px;
}
.adpq-container {
    background-image: url(../img/adpq-mainbg.gif);
    width: 95%;
    margin-top: 0px;
	height: 51px;
    margin-right: auto;
}
.adpq-headcontainer {
    font-family: 26px/32px "Roboto",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #046b99;
    vertical-align: middle;
    padding: 0px;
    height: 51px;
    width: 100%;
    margin: 0px auto 10px auto;
    border-bottom: 1px solid #E9911B;
    position: relative;
    top: 0px;
}
.main-wrapper-sm {
    background-image: url(../img/adpq-headerbg-sm.jpg);
    background-repeat: repeat-x;
    height: 51px;
}
.adpq-brand {
    background-image: url(../img/adpq-brand62x50.png);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    float: left;
    height: 51px;
    width: 62px;
    position: relative;
    left: 0px;
    top: 0px;
}
.adpq-loginwrap {
    margin: 0px;
    float: right;
    height: 51px;
    position: relative;
    top: 0px;
    width: 270px;
}
.adpq-log-input {
    float: left;
    height: 50px;
    width: 220px;
    position: relative;
    left: 10px;
    right: 300px;
}
.adpq-pass, .adpq-user {
    width: 100px;
    padding: 5px 10px;
    border: 1px solid #FDB81E;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal "Roboto Condensed", Helvetica, Arial, sans-serif;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(255,255,255,0.75);
    height: 32px;
    margin: 9px 0px;
    color: #000;
}
.adpq-log-arrow {
    background-image: url(../img/arrow-circle-n.png);
    float: left;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
    border: none;
    background-color: transparent;
}
.adpq-blurb {
    background-color: rgba(4,107,153,0.15);
    display: block;
    height: 240px;
    width: 83%;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border: 1px solid #046b99;
    box-sizing: content-box;
    margin: 20px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
}
.adpq-blurb h2 {
    font-family: "Roboto", serif;
    font-weight: bold;
    margin-top: 0%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 22px;
}
.adpq-blurb p {
    color: #000;
    font-family: "roboto condensed", serif;
    font-size: 1em;
    line-height: 1.2em;
}
.main-wrapper-sm .adpq-container #container { width: 100%; max-width: 535px; }
#filters .filter-checkbox .checkbox label, #filters .filter-checkbox .checkbox label input, #agency, #tags, #daterange label, .checkbox label { font-family:"", serif; font-size: 14px; }
.agency-drpdwn, .tags-drpdwn, .calendar-drpdwn { height: 40px; max-width: 350px; width: 350px }
#articles_length .datatables_length label {
    position: relative;
	float: left;
    left: 341px;
}
#articles_length .datatables_length {
    position: relative;
	float: left;
    left: 341px;
}
.dataTables_wrapper .dataTables_filter input {
	width: 100%;
    height: 40px;
    border: 1px solid #999!important;
    padding: 5px;
    text-align: center;
    margin: 0px auto;
    position: relative;
}
#articles_filter label { 
	font-family: "Roboto", serif;
    font-size: 14px;
    text-align: center;
    position: relative;
    margin: 0px auto;
    right: 7.1rem;
	}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #000;
	max-width:400px;
}
.kpi-row {
    display: block;
    padding: 0px;
    width: 100%;
    position: relative;
    margin-left: 0px!important;
}
.trending-row {
    position: relative;
    width: 100%;
    right: 15px;
    margin: 5px;
}
.mypublished-row, .workflow-row {
    display: block;
    padding: 0px;
    width: 95%;
    position: relative;
    margin-left: 0px!important;
}
.mypublished-header .section-title, .workflow-header .section-title { margin-left:5px; }	
.trending-content, .mypublished-content, .workflow-content {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    left: 7px;
}
.trending-bottom, .mypublished-bottom, .workflow-bottom {
    display: block;
    float: left;
    width: 97.1%;
    position: relative;
    top: 0px;
    margin-left: 10px;
}
.trending-header, .mypublished-header, .workflow-header {
    display: block;
    float: left;
    height: 41px;
    width: 99.52%;
    position: relative;
	margin-left:5px;
}
.trending-row-one, .trending-row-two, .trending-row-three {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    top: 0px;
}	
.trending-right-column {
    float: right;
    position: relative;
    left: -50px;
    top: -25px;
    height: inherit;
    padding-left: 15px;
}
.left-shortdesc {
    line-height: 18px;
    font-size: 14px;
    color: #669;
    word-wrap: break-word;
    width: 350px!important;
}
.left-most-pubdate {
    font-size: 12px!important;
    font-family: "Roboto", serif;
    position: relative;
    top: -15px;
    float: left;
    color: #000;
	right:100px;
}
.left-title {
    display: inline-block;
    float: left;
    width: 200px;
    position: relative;
    left: 0px;
    top: 0px;
    font-family: "roboto", serif;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    line-height: 18px;
}
.left-agency, .left-author {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}	
.trending-right-column {
    display: block;
    float: left;
    width: 250px;
    position: relative;
    left: -10px;
    top: 0px;
}

.trending-right-column {
    display: block;
    width: 250px;
    position: relative;
    left: -40px;
    top: -40px;
}
.left-column-tools {
    display: inline-block;
    float: right;
    height: 34px;
    width: 200px;
    position: relative;
    top: -35px;
    left: 190px;
    font-size: 12px;
    font-family: "roboto", serif;
    clear: both;
}
feildset { position:relative; margin: 0px auto; }	
}
@media (max-width: 400px) {
.main-wrapper-sm {
    background-image: url(../img/adpq-headerbg-sm.gif);
    background-repeat: repeat-x;
    height: 51px;
}
.adpq-container {
    background-image: url(../img/adpq-mainbg.gif);
    width: 95%;
    height: 51px;
    margin-top: 0px;
    margin-right: auto;
}
.adpq-headcontainer {
    font-family: 26px/32px "Roboto", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: #046b99;
    vertical-align: middle;
    padding: 0px;
    height: 51px;
    width: 95%;
    margin: 0px auto 10px auto;
    border-bottom: 1px solid #E9911B;
    position: relative;
    top: 0px;
}
.main-wrapper-sm {
    background-image: url(../img/adpq-headerbg-sm.jpg);
    background-repeat: repeat-x;
    height: 51px;
}
.adpq-brand {
    background-image: url(../img/adpq-brand62x50.png);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    float: left;
    height: 51px;
    width: 62px;
    position: relative;
    left: 0px;
    top: 0px;
}
.adpq-loginwrap {
    margin: 0px;
    width: 92%;
    float: right;
    height: 51px;
    position: relative;
    top: -52px;
    left: 70px;
}
.adpq-log-input {
    float: left;
    height: 50px;
    width: 65%;
    position: relative;
    left: 10px;
}
.adpq-blurb {
    background-color: rgba(4,107,153,0.15);
    display: block;
    height: 260px;
    width: 87%;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border: 1px solid #046B99;
    box-sizing: content-box;
    margin: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
}
.adpq-blurb h2 {
    font-family: "Roboto", serif;
    font-weight: bold;
    margin-top: 0%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 18px;
}
.adpq-blurb p {
    color: #000;
    font-family: "roboto condensed", serif;
    font-size: 1em;
    line-height: 1.2em;
}
.adpq-pass, .adpq-user {
    width: 100px;
    padding: 5px 10px;
    border: 1px solid #FDB81E;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal "Roboto Condensed", Helvetica, Arial, sans-serif;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(255,255,255,0.75);
    height: 32px;
    margin: 9px 0px;
    color: #000;
}
.adpq-log-arrow {
    background-image: url(../img/arrow-circle-n.png);
    float: left;
    height: 30px;
    width: 30px;
    margin: 10px 0px 0px 10px;
    position: relative;
    border: none;
    background-color: transparent;
}
.main-wrapper-sm .adpq-container #container { width: 95%; max-width: 399px; }
.main-wrapper-sm .adpq-container #container #articles_wrapper .datatables_wrapper .no-footer .title-column .sorting_asc { width: 95%; max-width: 399px; background-color:red; }
#filters .filter-checkbox .checkbox label, #filters .filter-checkbox .checkbox label input, #agency, #tags, #daterange { font-family:"", serif; font-size: 14px; }
.agency-drpdwn, .tags-drpdwn, .calendar-drpdwn { height: 40px; max-width: 250px; width: 250px }
#articles_length .datatables_length label {
    position: absolute;
	float: left;
    left: 341px;
}
.dataTables_wrapper .dataTables_filter input {
	width: 99%;
    height: 40px;
    border: 1px solid #999!important;
    padding: 5px;
	position:relative;
	margin-top: 5px;
}
#articles_filter label { text-align: center; position:relative; right:13%; }
#articles_wrapper .dataTables_wrapper .no-footer > table { max-width:380px; background-color: green; }
#articles_wrapper table#articles { width:380px; }
.terms {     
	font-family: "roboto", serif;
	font-size: 12px;
	display:block;
	margin: 50px auto;
    height: auto;
    width: 500px
}
a.terms {     
	margin: 50px auto;
    height: auto;
	display:block;
	text-align: center;
}
.left-title { display: inline-block;
    float: left;
    width: 100px;
    position: relative;
    left: 0px;
    top: 0px;
    font-family: "roboto", serif;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    line-height: 20px;
    height: auto; }
.left-agency, .left-author/*, .title-column*/ {
	display: inline-block;
    float: left;
    width: 100px;
    position: relative;
    left: 0px;
    top: 0px;
    font-family: "roboto", serif;
    font-size: 18px;
    color: #000;
}
.left-shortdesc {
    font-size: 14px;
    color: #999;
    overflow: hidden;
    white-space: nowrap!important;
    width: 100px!important;
}
.trending-left-column {
    display: block;
    float: left;
    width: 100px;
    position: relative;
    left: 0px;
    top: 0px;
}
#container td.sorting_1 { width: 100px; }
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #000;
	max-width:390px;
}
.kpi-content {
    float: left;
    width: 95%;
    position: relative;
	}
.section-title { width: 390px; }
.trending-content, .mypublished-content, .workflow-content {
    display: block;
    float: left;
    width: 380px;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.55);
}
.trending-head, .mypublished-head, .workflow-head {
    float: left;
    height: 28px;
    width: 380px;
    position: relative;
    font-family: "roboto condensed", serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 7px 0px;
}
.kpi-content {
    float: left;
/*    height: 540px;*/
    width: 390px;
    position: relative;
}	
feildset { position:relative; margin: 0px 0px 0px 0px; }
	}}